<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>pesan</servlet-name>
        <servlet-class>control.pesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarangServlet</servlet-name>
        <servlet-class>control.BarangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>control.userServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cusServlet</servlet-name>
        <servlet-class>control.cusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PemesananServlet</servlet-name>
        <servlet-class>control.PemesananServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PenjualanServlet</servlet-name>
        <servlet-class>control.PenjualanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturServlet</servlet-name>
        <servlet-class>control.ReturServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pesan</servlet-name>
        <url-pattern>/pesan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarangServlet</servlet-name>
        <url-pattern>/BarangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cusServlet</servlet-name>
        <url-pattern>/cusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PemesananServlet</servlet-name>
        <url-pattern>/PemesananServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PenjualanServlet</servlet-name>
        <url-pattern>/PenjualanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturServlet</servlet-name>
        <url-pattern>/ReturServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
